:root{
    /* bg color varaible in case I want to change it on the fly */
    --bg-color: black;
}

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.outerCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35vw;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
}

.innerCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34vw;
    aspect-ratio: 1;
    background-color: var(--bg-color);
    border-radius: 50%;
}

.videoContainer{
    width: 25vw;
    aspect-ratio: 16/9;
    background-color: white; 
}

@media only screen and (max-width: 1000px ){
    .outerCircle{
        width: 75vw;
        aspect-ratio: 1;
        background-color: white;
        border-radius: 50%;
    }
    
    .innerCircle{
        width: 74vw;
        aspect-ratio: 1;
        background-color: var(--bg-color);
        border-radius: 50%;
    }
    .videoContainer{
        width: 54vw;
        aspect-ratio: 16/9;
        background-color: white; 
    }
    
}